

    .App-header {
      min-height: 100vh;
      display: flex;
      flex-direction: row;
      font-size: calc(10px + 2vmin);
      color: #dcdcdc;
      background-color: #11151b;
      gap: 10px;
    }

    .nickName {
      font-size: 20px;
      color: #dcdcdc;
      gap: 10px;
      width: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 15px;
    }

    .btn-nick {
      display: flex;
      padding-top: 5px;
      width: 100px;
      height: 40px;
      align-self: flex-end;
      justify-content: center;
      font-size: 20px;
      color: #dcdcdc;
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 2px;
      cursor: pointer;
      transition: border 0.3s;
      /* Добавляем плавный переход для рамки */

    }

    .btn-nick:hover {
      border: 1px solid #69696a;

      /* Изменяем рамку при наведении курсора */
    }


    #inputNick {
      width: 100%;
      outline: none;
      padding: 5px;
      border: 1px solid #000000;
      border-radius: 4px;
      height: 30px;
      background-color: #000000;
      color: #dcdcdc;
      cursor: pointer;
      transition: border 0.3s;
    }

    #inputNick:hover {
      border: 1px solid #69696a;
    }

    .form-message {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin-bottom: 20px;
      margin-top: 20px;

    }

    .btn-send {
      color: #dcdcdc;
      background-color: #000000;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
      cursor: pointer;
      font-size: 20px;
      transition: border 0.3s;
      /* Добавляем плавный переход для рамки */

    }

    .btn-send:hover {
      border: 1px solid #69696a;
      /* Изменяем рамку при наведении курсора */
    }

    #input {
      width: 100%;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      box-sizing: border-box;
      height: 50px;
      background-color: #000000;
      color: #dcdcdc;
      cursor: pointer;
      transition: border 0.3s;
      outline: none;
    }

    #input:hover {
      border: 1px solid #69696a;
      ;
      /* Изменяем рамку при наведении курсора */
    }

    #input:focus {
      border: 1px solid #69696a;
      ;
    }

    .status {
      width: 100px;
      display: flex;
      font-size: small;
      color: green;
      align-self: flex-start;
      margin-top: 10px;
    }

    .disconnected-style {
      width: 100px;
      display: flex;
      font-size: small;
      align-self: flex-start;
      margin-top: 10px;
      color: red;
    }

    .nick {
      display: flex;
      font-size: 20px;
      padding-right: 5px;
      color: #dcdcdc;
      align-self: flex-end;
    }

    .chat-window {
      display: flex;
      margin: 20px;
      align-items: flex-end;
      /* изменение на flex-end */
      justify-content: flex-end;
      flex-direction: column;
      height: 90vh;
      max-height: 90vh;
      width: 80%;
      border-radius: 20px;
      padding: 10px;
      border: 1px solid #69696a;
      box-shadow: 0 0 10px rgba(216, 205, 255, 0.4);
    }

    @keyframes flash {
      0% {
        box-shadow: 0 0 10px rgba(216, 205, 255, 0.4);
      }

      50% {
        box-shadow: 0 0 20px rgba(216, 205, 255, 0.9);
      }

      100% {
        box-shadow: 0 0 10px rgba(216, 205, 255, 0.4);
      }
    }

    .flash {
      animation: flash 1s;
    }

    #messages {
      display: flex;
      width: 100%;
      flex-direction: column;
      overflow-y: auto;
      padding-right: 5px;
      align-items: flex-end;
    }

    #messages::-webkit-scrollbar {
      width: 5px;
      border-radius: 3px;
    }

    #messages::-webkit-scrollbar-thumb {
      background-color: rgb(2, 120, 120);
      /* цвет ползунка скроллбара */
      border-radius: 3px;
      /* закругленные углы ползунка */
    }

    #messages::-webkit-scrollbar-track {
      background-color: #000000;
      /* цвет трека (основной части) скроллбара */
    }

    .message {
      display: flex;
      width: fit-content;
      height: 100%;
      flex-direction: column;
      align-self: flex-end;

    }

    .block-message-other {
      display: flex;
      margin: 5px;
      flex-direction: column;
      font-size: 25px;
      padding: 15px;
      border: 1px solid #69696a;
      border-radius: 10px;
      justify-content: flex-start;
      align-self: flex-start;
    }

    .block-message-server {
      display: flex;
      margin: 5px;
      flex-direction: column;
      max-width: 80%;
      font-size: 25px;
      padding: 15px;
      border: 1px solid #69696a;
      border-radius: 10px;
      color: green;
    }

    .message-time {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      margin-left: 5px;
      align-self: end;
      opacity: 90%;
    }

    .block-message {
      display: flex;
      margin: 5px;
      max-width: 90%;
      align-self: flex-end;
      padding: 10px;
      flex-direction: column;
      font-size: 25px;
      padding: 15px;
      border: 1px solid #69696a;
      border-radius: 10px;
    }

    .block-message-private {
      display: flex;
      margin: 5px;
      max-width: 90%;
      padding: 10px;
      flex-direction: column;
      font-size: 25px;
      padding: 15px;
      border: 1px solid #69696a;
      border-radius: 10px;
      color: rgb(164, 18, 162)
        /* Другие стили по вашему усмотрению */
    }
   
    @media screen and (max-width: 1024px) {
      .App-header {
        flex-direction: column;
        min-height: 100vh;
        padding: 10px; /* Пространство вокруг элементов для лучшей читаемости */
      }
    
      .nickName {
        width: 95%;
        padding: 20px;
        height: auto;

 }
    
      .btn-nick {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        font-size: 60px;
        
      }
    
      #inputNick {
        width: 100%;
        height: 70px;
        font-size: 70px;

      }
      .title-input {
        font-size: 60px;
      }
      .registration-status {
        font-size: 60px;
      }
      .status {
        font-size: 40px;
      }
    #inputNick::placeholder {
      font-size: 70px;
      opacity: 0.5;
    }
      .form-message {
        flex-direction: column; /* Изменяем направление для сообщений */
        margin: 10px 0;
      }
    
      .btn-send {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        font-size: 60px
      }
    
      #input {
        width: 100%;
        margin: 10px 0;
        height: 100px;
        font-size: 80px;
      }
    
      .chat-window {
        width: 98%;
        margin: 10px 0;
        justify-content: flex-start;
      }
    
      #messages {
        
      }
    
      .message {
        margin: 10px 0;
      }
      .message-time {
        font-size: 26px;
      }
      .block-message-other,
      .block-message-server,
      .block-message,
      .block-message-private {
        
      }
      .nick {
        font-size: 40px;
      }
      .message {
        margin: 0;
        font-size: 45px;
      }
      .form-message {
        width: 95%;
        align-self: center;
      }
    }