/* Общие стили для всех экранов */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 768px) {
  body {
   background-color: white;
   border: 10px solid red;
  }
  
  /* Добавьте дополнительные стили для мобильных устройств при необходимости */
}
